<div class="parts-container">
  <div class="part-container">
    <div id="part1" style="background-image: url(assets/image_part_001.jpg);" class="img-part"></div>
    <div id="part1b" class="img-part-2"></div>
  </div>
  <div class="part-container">
    <div id="part2" style="background-image: url(assets/image_part_002.jpg);" class="img-part"></div>
    <div id="part2b" class="img-part-2"></div>
  </div>
  <div class="part-container">
    <div id="part3" style="background-image: url(assets/image_part_003.jpg);" class="img-part"></div>
    <div id="part3b" class="img-part-2"></div>
  </div>
  <div class="part-container">
    <div id="part4" style="background-image: url(assets/image_part_004.jpg);" class="img-part"></div>
    <div id="part4b" class="img-part-2"></div>
  </div>

  <div class="part-container">
    <div id="part5" style="background-image: url(assets/image_part_005.jpg);" class="img-part"></div>
    <div id="part5b" class="img-part-2"></div>
  </div>
  <div class="part-container">
    <div id="part6" style="background-image: url(assets/image_part_006.jpg);" class="img-part"></div>
    <div id="part6b" class="img-part-2"></div>
  </div>
  <div class="part-container">
    <div id="part7" style="background-image: url(assets/image_part_007.jpg);" class="img-part"></div>
    <div id="part7b" class="img-part-2"></div>
  </div>
  <div class="part-container">
    <div id="part8" style="background-image: url(assets/image_part_008.jpg);" class="img-part"></div>
    <div id="part8b" class="img-part-2"></div>
  </div>

  <div class="part-container">
    <div id="part9" style="background-image: url(assets/image_part_009.jpg);" class="img-part"></div>
    <div id="part9b" class="img-part-2"></div>
  </div>
  <div class="part-container">
    <div id="part10" style="background-image: url(assets/image_part_010.jpg);" class="img-part"></div>
    <div id="part10b" class="img-part-2"></div>
  </div>
  <div class="part-container">
    <div id="part11" style="background-image: url(assets/image_part_011.jpg);" class="img-part"></div>
    <div id="part11b" class="img-part-2"></div>
  </div>
  <div class="part-container">
    <div id="part12" style="background-image: url(assets/image_part_012.jpg);" class="img-part"></div>
    <div id="part12b" class="img-part-2"></div>
  </div>
</div>

<!-- <div style="position: absolute;width: 30vw;height: 60vh;left:0;right: 0;top: 0;bottom: 0;margin: auto;background-color: #e6e6e6f5">  -->

<!-- </div> -->


<!-- <div class="scene">
  <div class="cube">
    <div class="cube__face cube__face--front">front</div>
    <div class="cube__face cube__face--back">back</div>
    <div class="cube__face cube__face--right">right</div>
    <div class="cube__face cube__face--left">left</div>
    <div class="cube__face cube__face--top">top</div>
    <div class="cube__face cube__face--bottom">bottom</div>
  </div>
</div>
<div class="scene">
  <div class="cube">
    <div class="cube__face cube__face--front">front</div>
    <div class="cube__face cube__face--back">back</div>
    <div class="cube__face cube__face--right">right</div>
    <div class="cube__face cube__face--left">left</div>
    <div class="cube__face cube__face--top">top</div>
    <div class="cube__face cube__face--bottom">bottom</div>
  </div>
</div>
<div class="scene">
  <div class="cube">
    <div class="cube__face cube__face--front">front</div>
    <div class="cube__face cube__face--back">back</div>
    <div class="cube__face cube__face--right">right</div>
    <div class="cube__face cube__face--left">left</div>
    <div class="cube__face cube__face--top">top</div>
    <div class="cube__face cube__face--bottom">bottom</div>
  </div>
</div> -->